@model IEnumerable<VersionDoc.Models.File>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "MyDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">My Public Documents<a href="#helpModal" data-toggle="modal" data-target="#helpModal"><span class="pull-right glyphicon glyphicon-question-sign" style="color:dodgerblue; font-size:larger"></span></a></h3>
<p class="text-center" style="color:dodgerblue; font-size:medium">This page is a list of all your public documents, here you can see all the new versions of your documents</p>
<hr />

<div class="container-fluid" style="height:400px">
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Size(KB)</th>
                <th>File Type</th>
                <th>Uploaded Date</th>
                <th>Download</th>
                <th>Log</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model.Where(i => i.User.LoginId ==  UserManager.GetUserId(User) && i.FilePermission == 0))
            {
                <tr>
                    <td>@doc.FileName</td>
                    <td>@doc.FileSize</td>
                    <td>@doc.FileType</td>
                    <td>@doc.FileUploadDate</td>
                    <td><a asp-controller="UploadDocument" asp-action="downloadFile" asp-route-id="@doc.FileId" asp-route-type="Public" asp-route-email="@doc.User.UserEmail"><span class="glyphicon glyphicon-download-alt" style="font-size:large; color:black"></span></a></td>
                    <td><a asp-controller="MyDocuments" asp-action="PublicLog" asp-route-id="@doc.FileId"><span class="glyphicon glyphicon glyphicon-list-alt" style="font-size:large; color:black"></span></a></td>
                    <td><a asp-controller="MyDocuments" asp-action="Remove" asp-route-id="@doc.FileId"><span class="glyphicon  glyphicon glyphicon-trash" style="font-size:large; color:red"></span></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" wfd-id="461">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body" wfd-id="23">
                <p>This page is only visiable for you</p>
                <p>This page displays your public files</p>
                <p>You have the options to dowload, view the Log and delete the file</p>
                <p>Press on the dowload icon for immediate download</p>
                <p>Press on the Log icon to go to the specific Log page for that file</p>
                <p>Press the delete icon to take you to the delete page, where you can permanetly delete your file</p>
            </div>
            <div class="modal-footer" wfd-id="22">
                <button type="button" class="btn btn-primary" data-dismiss="modal" wfd-id="460">Close</button>
            </div>
        </div>
    </div>
</div>